@page {
    width: 54mm;
    height: 17mm;
}

img {
    height: 10mm;
    margin-left: 3mm;
    margin-top: 2mm;
    display: block;
    image-rendering: pixelated;
}

span {
    display: block;
    font-family: sans-serif;
    margin-left: 3mm;
    margin-top: -0.5mm;
    font-size: 12px;
}