version: "3.7"
services:
  db:
    image: mariadb
    volumes:
      - /srv/documento/db:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=documento
      - MYSQL_USER=documento
      - MYSQL_PASSWORD=zbakhKStr543mT_OB/r}actiTSNHOT
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    restart: always
#  elastic:
#    build: elasticsearch
#    environment:
#      - discovery.type=single-node
#      - bootstrap.memory_lock=true
#      - ES_JAVA_OPTS=-Xms512m -Xmx1024m
#      - TAKE_FILE_OWNERSHIP=1
#      - http.port=9200
#      - http.cors.allow-origin=http://localhost:1358,http://127.0.0.1:1358,http://localhost:3001
#      - http.cors.enabled=true
#      - http.cors.allow-headers=X-Requested-With,X-Auth-Token,Content-Type,Content-Length,Authorization
#      - http.cors.allow-credentials=true
#    restart: always
#    ports:
#      - 9200:9200
#    volumes:
#      - /srv/documento/elastic:/usr/share/elasticsearch/data
#  dejavu:
#    image: appbaseio/dejavu:3.2.3
#    container_name: dejavu
#    ports:
#      - '1358:1358'
  #    links:
  #      - elasticsearch
  documento:
    build: .
    volumes:
      - /srv/documento/static:/var/www/static
      - /srv/documento/media:/var/www/media
    environment:
      - DOCUMENTO_SECRET_KEY=tirnotaeron7sd8745289756NuRSOEasdDRrtiansetiadtirnDTNTOrnae
      - DOCUMENTO_DEBUG=0
      - DOCUMENTO_DOCKER=1
      - DOCUMENTO_DB_ENGINE=django.db.backends.mysql
      - DOCUMENTO_DB_NAME=documento
      - DOCUMENTO_DB_USER=documento
      - DOCUMENTO_DB_PASSWORD=zbakhKStr543mT_OB/r}actiTSNHOT
      - DOCUMENTO_DB_HOST=db
      - DOCUMENTO_DB_PORT=3306
      - CELERY_BROKER=amqp://guest@localhost//
    depends_on:
      - db
    #      - rabbit
    restart: always
#  node:
#    build: documento-web
#    ports:
#      - "3000:80"
    #    volumes:
    #      - /srv/documento/web:/opt/app
#    restart: always
  web:
    image: nginx:alpine
    volumes:
      - ./docker-setup/nginx-app.conf:/etc/nginx/conf.d/default.conf:ro
      - /srv/documento/static:/var/www/static:ro
      - /srv/documento/media:/var/www/media:ro
    depends_on:
      - documento
    ports:
      - "127.0.0.1:88:80"
    restart: always
